.accordion {
  &__content {
    overflow: hidden;
    position: relative;

    &::after {
      background: linear-gradient(
          to bottom,
          rgba(242, 242, 242, 0),
          rgba(242, 242, 242, 0.9) 100%
        )
        no-repeat;
      content: " ";
      right: 0;
      height: 3.6rem;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &--active::after {
      content: none;
    }
  }

  &__toggle {
    span {
      font-size: 1.2rem;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
