<!--

  profile
      |____ sidebar
      |
      |____ content
               |_____ tabs
               |        |____ description
               |        |____ teams
               |
               |_____ features
                        |____ skills
                        |____ social-icons

-->

<article>
  <!-- profile -->
  <aside>
    <!-- sidebar -->
    <section>...image</section>
    <section>...menu</section>
  </aside>
  <main>
    <!-- content -->
    <section>
      <!-- tabs -->
      <app-tabs>
        <app-tab> <div>...description</div></app-tab>
        <app-tab>
          <div>...team images</div>
        </app-tab>
      </app-tabs>
    </section>
    <section>
      <!--features-->
      <div>...skills</div>
      <div>...social icons</div>
    </section>
  </main>
</article>
