<!-- Flattened BEM -->

<article class="profile">
  <aside class="profile__sidebar">
    <section class="profile__image">...profile image</section>
    <section class="profile__links">...menu links</section>
  </aside>
  <main class="profile__content">
    <section class="profile__tabs">
      <app-tabs>
        <app-tab>
          <div class="profile__description">...description</div></app-tab
        >
        <app-tab class="profile__teams"> ...teams </app-tab>
      </app-tabs>
    </section>
    <section class="profile__features">
      <div class="profile__skills">...skills</div>
      <div class="profile__social-icons">...social icons</div>
    </section>
  </main>
</article>
