<!--

  Flattened BEM Layout with Structured Block

  profile
      |____ sidebar
      |
      |____ content
               |_____ tabs
               |        |____ tab-description
               |        |____ tab-teams
               |
               |_____ features
                        |____ skills
                        |____ social-icons
                        |____ education <-- example 3 deep nesting -  suitable for new structured BEM block `education`
                                |____ qualifications
                                |____ schools attended
                                |____ courses

-->

<article class="profile container xs-row">
  <aside class="profile__sidebar sm-4 xs-12">
    <section class="profile__image">...profile image</section>
    <section class="profile__menu">...menu links</section>
  </aside>
  <main class="profile__content sm-8 xs-12">
    <section class="profile__tabs">
      <app-tabs>
        <app-tab tabTitle="Profile">
          <div class="profile__description">...description</div></app-tab
        >
        <app-tab tabTitle="Works with" class="profile__teams"
          >...teams
        </app-tab>
      </app-tabs>
    </section>
    <section class="profile__features">
      <div class="profile__skills">...skills</div>
      <div class="profile__social-icons">...icons</div>
      <!-- Structured `education` block -->
      <div class="profile__education eduction">
        <div class="education__schools"></div>
        <div class="education__qualifications"></div>
        <div class="education__courses"></div>
      </div>
    </section>
  </main>
</article>
