$width: 10;

.loader {
  width: $width + 0rem;
  height: ($width / 3) - 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &__ball {
    will-change: transform;
    height: ($width / 3) - 1rem;
    width: ($width / 3) - 1rem;
    border-radius: 50%;
    background-color: var(--primary-500);
    position: absolute;
    animation: grow 1s ease-in-out infinite alternate;

    &--1 {
      left: 0;
      transform-origin: 100% 50%;
    }
    &--2 {
      left: 50%;
      transform: translateX(-50%) scale(1);
      animation-delay: 0.33s;
    }
    &--3 {
      right: 0;
      animation-delay: 0.66s;
    }
  }
}

@keyframes grow {
  to {
    transform: translateX(-50%) scale(0);
  }
}
